.App {
  text-align: center;
}

.landingpage {
  width: 1441px;
  height: 953px;

}

.App-header {
  margin-top: 2rem;
  display: flex;
  height: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 6rem;
  padding: 1rem 0rem;
  background-color: #fff;
}

.right-nav {
  display: flex;
  gap: 3rem;
}

.logo {
  width: 159px;
  height: 43px;
  top: 40px;
  font-family: Source Sans Pro;
  font-size: 34px;
  font-weight: 700;
  line-height: 42.74px; 

}

.carespan{
  color: orange;
}

.medispan{
  color: #0073FF;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

nav ul li {
  font-size: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #0073FF;
  
}

.contact-btn {
  width: 170px;
  height: 50px;
  top: 25px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: center;
  color: #FFFFFF;
  background-color: #007FF4;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.App-main {
  
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 1rem 4rem;
}

.intro {
  max-width: 45%;
  text-align: left;
}

.intro h1 {
  height: 30px;
  top: 284px;
  left: 120px;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.17px;
  text-align: left;
  padding-top: 8rem;
  color: #002348;

}

.intro h2 {
  font-size: 2.5rem;
  color: #002348;
}

.intro p {
  color: #002348;
  width: 546px;
  height: 122px;
  top: 444px;
  left: 120px;
  gap: 0px;

  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.appointment-btn,
.departments-btn {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile {
  background-color: #f0f0f0;
  width: 574px;
  height: 672px;
  top: 141px;
  left: 745px;
  padding: 2rem;
  border-radius: 10px;
}

.profile-name {
  background-color: #ff4081;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.App-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}


/* --------------------------------------------------------- */
/* Section - 2 */

.services {
  display: flex;
  flex-direction: column;
  width: 1441px;
  height: 520px;
  text-align: center;
  padding: 2rem 0;
}


.service-headlines {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.services h2 {
  height: 78px;
  font-family: Source Sans Pro;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
}

#service-p {
  max-width: 546px;
  overflow: hidden;
  margin-left: 30rem;
  height: 78px;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;

}

.services-cards {
  margin-top: 3rem;
  display: flex;
  margin: 1rem 6rem;
  gap: 5rem;
  cursor: pointer;
}

.service-card {
  width: 273px;
  height: 323px;
  box-shadow: 0px 10px 50px 25px #003B7913;

}


.service-card img {
  margin-top: 2rem;
  color: #007DF2;
  border: 1px 0px 0px 0px;
  margin-right: 6rem;
}

.service-card p {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.17px;
  text-align: left;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #002348;


}



/* ----------------------------------------------------- */
/* section 3 */

.innovation {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0rem 6rem;
  margin-top: 16rem;
  background: #FFFFFF;
}

#summery{
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

 
.innovation h2 {
  overflow: hidden;
  font-family: Source Sans Pro;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
  text-align: left;
  color: #003B79;
}

.innovation p {
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  color: #002348;
}

.learn-more-btn {
  width: 186px;
  height: 60px; 
  border-radius: 25px;  
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#summery button{
  border-radius: 30px;
}

.innovation-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}

.innovation-card {
  margin-left: 2rem;
  border-radius: 5px;
  text-align: center;
  height: 236px;
  box-shadow: 0px 10px 50px 25px #003B7913;

}

.innovation-card img {
  margin-top: -8rem;
}

.innovation-card:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  align-self: start;
}

.innovation-card:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1.5 / span 1.5;
  margin-top: 13rem;
}

.innovation-card:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin-top: -24rem;
}


/* -------------------------------------- */
/* section 4 */

.speciallist{
background-color: #F8FDFF;
}

.mainspecialist{
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6rem;
}


.mainspecialist h1{
height: 78px;
font-family: Source Sans Pro;
font-size: 54px;
font-weight: 600;
line-height: 78px;
text-align: center;
color: #003B79;
}

#mainspecialist-p{
height: 78px;
font-family: Source Sans Pro;
font-size: 20px;
font-weight: 400;
line-height: 39px;
text-align: center;
color: #002348;
}

.cards{
  display: flex;
  gap: 5rem;
  cursor: pointer;
}

.card{
display: flex;
width: 274px;
height: 448px;
box-shadow: 0px 10px 50px 25px #003B7913;
background-color: #AED3E2;
}

.names{
width: 100%;
margin-top: 21rem;
background-color:  #FFFFFF;
}


/* --------------------------------- */
/* section 5 */

.mainreview{
height: 600px;
margin-left: 6rem;
background-color: #F8FDFF;

}

.mainreview h1{
  width: 600px;
  height: 78px;
  font-family: Source Sans Pro;
  font-size: 54px;
  font-weight: 600;
  line-height: 78px;
  text-align: left;
  color: #002348;
    
}

.review-card{
  display: flex;
  gap: 6rem;
  width: 100%;
}

.cards-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 577px;
height: 294px;
top: 4156px;
left: 121px;
gap: 0px;

box-shadow: 0px 10px 50px 25px #003B7913;

}

.userrevi{
  display: flex;
  width: 100%;
  gap: 1.5rem;
  margin-top: 1rem;
  max-height: 200px;
}

.userrevi img{
  margin-top: 1rem;
  margin-left: 4rem;
}

.userrevi h6{
  margin-top: -10px;
  text-align: start;
}


.cards-review p{
 text-align: center;
  width: 442px;
height: 106px;
left: 189px;
gap: 0px;
font-family: Source Sans Pro;
font-size: 20px;
font-weight: 400;
line-height: 39px;
text-align: left;
color: #002348;
overflow: hidden;
}

/* ------------------------------------------------------ */
/* Section6 */

.feedback{
  height: 28rem;
background-color: #007FF4;
border-radius: 15px;
margin: 0 6rem;

}

.feedback h1{
  padding-top: 2rem;
font-family: Source Sans Pro;
font-size: 48px;
font-weight: 600;
line-height: 78px;
color:#FFFFFF;
}

.feedback p {
  margin-top: -2rem;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  color:#FFFFFF;
  
}

.feedback form input {
  margin-top: 3rem;
  width: 846px;
height: 120px;
top: 4933px;
left: 298px;
gap: 0px;
border-radius: 10px;
border: none;

}

.feedback form input::placeholder{
  width: 546px;
height: 39px;
top: 4973px;
left: 334px;
padding-left: 3rem;
font-family: Source Sans Pro;
font-size: 20px;
font-weight: 400;
line-height: 39px;
text-align: left;
color: 
#9B9B9B;

}

.feedback form button{
  width: 176px;
height: 74px;
top: 4956px;
left: 946px;
border-radius: 40px;
margin-left: -13rem;
background-color: #007FF4;
color: #FFFFFF;
font-family: Source Sans Pro;
font-size: 16px;
font-weight: 700;
line-height: 20.11px;
text-align: center;
cursor: pointer;
}



.right-footer{
  display: flex;
  justify-content: space-between;
  margin:0 6rem;
  height: 200px;
  margin-top: 5rem;
  
}



.right-footer a {
  padding-left: 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #0073FF;
  
}

.footer-left{
width: 159px;
height: 43px;
font-family: Source Sans Pro;
font-size: 34px;
font-weight: 700;
line-height: 42.74px;
text-align: left;
color: #0073FF;
}

.footericons{
  margin: 0 6rem;
  max-width: 1440px;
  height: 241px;
  background-color:#ECF4FF;
}

.social-icons{

  display: flex;
  gap: 3rem;
  padding-top: 4rem;
  cursor: pointer;
 
}

.social-{
  display: flex;

  width: 213px;
height: 34px;
top: 5528px;
left: 121px;
gap: 0px;
font-family: Open Sans;
font-size: 14px;
font-weight: 300;
line-height: 34px;
text-align: left;

}


/* responsive UI */

@media (max-width: 1300px) {

  .innovation{
    /* gap: 3rem; */
    
  }
}
